<h1>Create A New Collection</h1>

<%= form_for @collection do |f| %>
    <div id="form">
      <%= f.label :name, "Collection Name" %>
      <%= f.text_field :name %>

      <%= f.label :private, "Make this collection public?" %>
      <%= f.check_box :private %>

      <%= f.submit "Create Collection" %>
    </div>
<% end %>

